<PaperSidenavContainer>
  <PaperToolbar>
    <div class='md-toolbar-tools'>

      <div class='brand'>
        <img
          src='https://s3.amazonaws.com/dgw-public/ember-logo-white.png'
          alt='Ember'
          class='logo'
        />
        <h2 id='title'>Array Contains Helper Demo</h2>
      </div>

      <div id='buttons'>
        <PaperButton
          @onClick={{this.toggleAkira}}
          @raised={{true}}
          @label='Remove/Add Akira'
        />
        <PaperButton
          @onClick={{this.toggleBlacksad}}
          @raised={{true}}
          @label='Change Blacksad title'
        />
        <PaperButton
          @onClick={{this.toggleBlueberry}}
          @raised={{true}}
          @label='Add/Remove Blueberry'
        />
      </div>

      <a href='docs' class='docs'>
        {{paper-icon 'filter-none'}}
        docs
      </a>

      <a
        href='https://github.com/bmeurant/ember-array-contains-helper'
        class='sources'
      >
        {{paper-icon 'code'}}
        sources
      </a>

    </div>
  </PaperToolbar>
</PaperSidenavContainer>

<PaperContent>
  <div class='samples'>
    <div class='sample'>
      <h3>Comics List (literals): </h3>
      <PaperList @class='comics'>
        {{#each this.model.comicsLiterals as |comic|}}
          <PaperItem>{{comic}}</PaperItem>
        {{/each}}
      </PaperList>

      <PaperList @class='results'>
        <PaperItem>
          List contains 'Akira' :
          <strong
            class='{{if
                (array-contains this.model.comicsLiterals "Akira")
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comicsLiterals 'Akira'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blacksad' :
          <strong
            class='{{if
                (array-contains this.model.comicsLiterals "Blacksad")
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comicsLiterals 'Blacksad'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Calvin And Hobbes' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsLiterals this.calvinAndHobbesLiteral
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsLiterals
              this.calvinAndHobbesLiteral
            }}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blueberry' :
          <strong
            class='{{if
                (array-contains this.model.comicsLiterals "Blueberry")
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comicsLiterals 'Blueberry'}}
          </strong>
        </PaperItem>
      </PaperList>

      <CodeSnippet @name='literal.hbs' @class='snippet' />
    </div>

    <div class='sample'>
      <h3>Comics List (Native Objects): </h3>
      <PaperList @class='comics'>
        {{#each this.model.comicsNative as |comic|}}
          <PaperItem>{{comic.title}}</PaperItem>
        {{/each}}
      </PaperList>

      <PaperList @class='results'>
        <PaperItem>
          List contains 'Akira' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNative "Akira" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comicsNative 'Akira' property='title'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blacksad' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNative "Blacksad" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNative
              'Blacksad'
              property='title'
            }}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Calvin And Hobbes' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNative this.calvinAndHobbesNative
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNative
              this.calvinAndHobbesNative
            }}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blueberry' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNative "Blueberry" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNative
              'Blueberry'
              property='title'
            }}
          </strong>
        </PaperItem>
      </PaperList>

      <CodeSnippet @name='native.hbs' @class='snippet' />
    </div>

    <div class='sample'>
      <h3>Comics List (Without Ember Data): </h3>
      <PaperList @class='comics'>
        {{#each this.model.comicsNoData as |comic|}}
          <PaperItem>{{comic.title}}</PaperItem>
        {{/each}}
      </PaperList>

      <PaperList @class='results'>
        <PaperItem>
          List contains 'Akira' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNoData "Akira" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comicsNoData 'Akira' property='title'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blacksad' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNoData "Blacksad" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNoData
              'Blacksad'
              property='title'
            }}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Calvin And Hobbes' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNoData this.calvinAndHobbesNoData
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNoData
              this.calvinAndHobbesNoData
            }}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blueberry' :
          <strong
            class='{{if
                (array-contains
                  this.model.comicsNoData "Blueberry" property='title'
                )
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains
              this.model.comicsNoData
              'Blueberry'
              property='title'
            }}
          </strong>
        </PaperItem>
      </PaperList>

      <CodeSnippet @name='ember.hbs' @class='snippet' />
    </div>

    <div class='sample'>
      <h3>Comics List (With Ember Data): </h3>
      <PaperList @class='comics'>
        {{#each this.model.comics as |comic|}}
          <PaperItem>{{comic.title}}</PaperItem>
        {{/each}}
      </PaperList>

      <PaperList @class='results'>
        <PaperItem>
          List contains 'Akira' :
          <strong
            class='{{if
                (array-contains this.model.comics "Akira" property='title')
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comics 'Akira' property='title'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blacksad' :
          <strong
            class='{{if
                (array-contains this.model.comics "Blacksad" property='title')
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comics 'Blacksad' property='title'}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Calvin And Hobbes' *:
          <strong
            class='{{if
                (array-contains this.model.comics this.calvinAndHobbes)
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comics this.calvinAndHobbes}}
          </strong>
        </PaperItem>
        <PaperItem>
          List contains 'Blueberry' :
          <strong
            class='{{if
                (array-contains this.model.comics "Blueberry" property='title')
                "contains-true"
                "contains-false"
              }}'
          >
            {{array-contains this.model.comics 'Blueberry' property='title'}}
          </strong>
        </PaperItem>
        <small><i>* There is no strict equality between ember-data models
            returned from store</i></small>
      </PaperList>

      <CodeSnippet @name='data.hbs' @class='snippet' />
    </div>
  </div>
</PaperContent>