{{#paper-sidenav-container}}
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">

      <div class="brand">
        <img src="https://s3.amazonaws.com/dgw-public/ember-logo-white.png" class="logo"/>
        <h2 id="title">Array Contains Helper Demo</h2>
      </div>

      <div id="buttons">
        {{paper-button onClick=(action 'updateAkira') raised=true label="Remove/Add Akira"}}
        {{paper-button onClick=(action 'updateBlacksad') raised=true label="Change Blacksad title"}}
        {{paper-button onClick=(action 'updateBlueberry') raised=true label="Add/Remove Blueberry"}}
      </div>

      <a href="docs" class="docs">
        {{paper-icon "filter-none"}}
        docs
      </a>

      <a href="https://github.com/bmeurant/ember-array-contains-helper" class="sources">
        {{paper-icon "code"}}
        sources
      </a>

    </div>
  {{/paper-toolbar}}
{{/paper-sidenav-container}}

{{#paper-content}}
  <div class="samples">
    <div class="sample">
      <h3>Comics List (literals): </h3>
      {{#paper-list class="comics"}}
        {{#each model.comicsLiterals as |comic|}}
          {{#paper-item}}{{comic}}{{/paper-item}}
        {{/each}}
      {{/paper-list}}

      {{#paper-list class="results"}}
        {{#paper-item}}
          List contains 'Akira' :
          <strong class="{{if (array-contains model.comicsLiterals 'Akira') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsLiterals 'Akira'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blacksad' :
          <strong class="{{if (array-contains model.comicsLiterals 'Blacksad') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsLiterals 'Blacksad'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Calvin And Hobbes' :
          <strong class="{{if (array-contains model.comicsLiterals calvinAndHobbesLiteral) 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsLiterals calvinAndHobbesLiteral}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blueberry' :
          <strong class="{{if (array-contains model.comicsLiterals 'Blueberry') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsLiterals 'Blueberry'}}
          </strong>
        {{/paper-item}}
      {{/paper-list}}

      {{code-snippet name="literal.hbs" class="snippet"}}
    </div>

    <div class="sample">
      <h3>Comics List (Native Objects): </h3>
      {{#paper-list class="comics"}}
        {{#each model.comicsNative as |comic|}}
          {{#paper-item}}{{comic.title}}{{/paper-item}}
        {{/each}}
      {{/paper-list}}

      {{#paper-list class="results"}}
        {{#paper-item}}
          List contains 'Akira' :
          <strong class="{{if (array-contains model.comicsNative 'Akira' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNative 'Akira' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blacksad' :
          <strong class="{{if (array-contains model.comicsNative 'Blacksad' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNative 'Blacksad' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Calvin And Hobbes' :
          <strong class="{{if (array-contains model.comicsNative calvinAndHobbesNative) 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNative calvinAndHobbesNative}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blueberry' :
          <strong class="{{if (array-contains model.comicsNative 'Blueberry' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNative 'Blueberry' property='title'}}
          </strong>
        {{/paper-item}}
      {{/paper-list}}

      {{code-snippet name="native.hbs" class="snippet"}}
    </div>

    <div class="sample">
      <h3>Comics List (Without Ember Data): </h3>
      {{#paper-list class="comics"}}
        {{#each model.comicsNoData as |comic|}}
          {{#paper-item}}{{comic.title}}{{/paper-item}}
        {{/each}}
      {{/paper-list}}

      {{#paper-list class="results"}}
        {{#paper-item}}
          List contains 'Akira' :
          <strong class="{{if (array-contains model.comicsNoData 'Akira' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNoData 'Akira' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blacksad' :
          <strong class="{{if (array-contains model.comicsNoData 'Blacksad' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNoData 'Blacksad' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Calvin And Hobbes' :
          <strong class="{{if (array-contains model.comicsNoData calvinAndHobbesNoData) 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNoData calvinAndHobbesNoData}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blueberry' :
          <strong class="{{if (array-contains model.comicsNoData 'Blueberry' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comicsNoData 'Blueberry' property='title'}}
          </strong>
        {{/paper-item}}
      {{/paper-list}}

      {{code-snippet name="ember.hbs" class="snippet"}}
    </div>

    <div class="sample">
      <h3>Comics List (With Ember Data): </h3>
      {{#paper-list class="comics"}}
        {{#each model.comics as |comic|}}
          {{#paper-item}}{{comic.title}}{{/paper-item}}
        {{/each}}
      {{/paper-list}}

      {{#paper-list class="results"}}
        {{#paper-item}}
          List contains 'Akira' :
          <strong class="{{if (array-contains model.comics 'Akira' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comics 'Akira' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blacksad' :
          <strong class="{{if (array-contains model.comics 'Blacksad' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comics 'Blacksad' property='title'}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Calvin And Hobbes' *:
          <strong class="{{if (array-contains model.comics calvinAndHobbes) 'contains-true' 'contains-false'}}">
            {{array-contains model.comics calvinAndHobbes}}
          </strong>
        {{/paper-item}}
        {{#paper-item}}
          List contains 'Blueberry' :
          <strong class="{{if (array-contains model.comics 'Blueberry' property='title') 'contains-true' 'contains-false'}}">
            {{array-contains model.comics 'Blueberry' property='title'}}
          </strong>
        {{/paper-item}}
        <small><i>* There is no strict equality between ember-data models returned from store</i></small>
      {{/paper-list}}

      {{code-snippet name="data.hbs" class="snippet"}}
    </div>
  </div>
{{/paper-content}}